/*general view*/
.container-fluid {
    padding: 5px;
}

.custom {
    width: 78px !important;
}

.btn{
    width: 180px !important;
}

.form-control{
    text-align: center !important;
}

.container-fluid > *:not(:last-child) {
    margin-bottom: 5px;
}

.actions *:not(:last-child) {
    margin-right: 5px;
}

.col-xs-1 {
    width: 10% !important;
}

.col-xs-2 {
    width: 20% !important;
}

.col-xs-3 {
    width: 30% !important;
}

.button {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    background: white;
}

.button:hover {
    background: linear-gradient(to bottom, #ffffff, #a8a8a8);
    color: #000000;
}

.button_exit {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    background: white;
}

.button_exit:hover {
    background: linear-gradient(to bottom, #ffccca, #a8463f);
    color: #000000;
}

.error {
    font-size: 12px;
    color: red;
    font-style: italic;
    margin-top: 5px;
    margin-left: 5px;
}

input {outline:none;}
select {outline:none;}

/*login*/

.login_form{
    width: 250px;
    height: 100px;
    margin: auto;
    padding: 30px;
    background: lightgrey;
    text-align: center;
}
.login_form input.button{
    margin-top: 10px;
}
/*welcome*/

.title{
    float: left;
    margin: 6px;
}

.welcome{
    padding: 10px;
}

.welcome_header{
    width: 100%;
    height: 40px;
    background: lightgrey;
    text-align: right;
    margin-bottom: 10px;
}

.welcome_div .button{
    width: 200px;
    margin-bottom: 10px;

}

.welcome_div{
    text-align: center;
}

/*account*/

.main_header .button{
    margin-top: 15px;
    margin-right: 5px;
}

.create_panel{
    display: none;
}

.create_panel .button{
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.create_panel .create_input{
    width: 195px;
    height: 35px;
}

.create_panel .create_select{
    width: 195px;
    height: 35px;
}

.main_header{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.main_header p{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.main_table table{
    width: 80%;
    text-align: center;
    border-collapse: collapse;
}

.main_table thead td, th{
    width: 150px;
    padding: 10px;
    background: darkgray;
}

.main_table td{
    padding: 5px;
    border: 1px double black;
}

.table table{
    width: 70%;
    text-align: center;
    border-collapse: collapse;
}

/*contract*/

form {
    margin-bottom: 0;
}

.pay_panel form {
    margin-bottom: 15px;
}

.pay_panel .select{
    width: 230px;
    height: 27px;
}


/*payorder*/

.pay_order_panel td{
    padding-bottom: 15px;
    padding-right: 10px;
}

.pay_order_panel select{
    width: 150px;
    height: 25px;
}

.pay_order_panel input{
    width: 100px;
    height: 25px;
}

.pay_order_panel input.button{
    width: 300px;
}

.pay_order_panel input.button_cnsl{
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    background: white;
    width: 80px;
}

.pay_order_panel input.button_cnsl:hover {
    background: linear-gradient(to bottom, #ffffff, #a8a8a8);
    color: #000000;
}